@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
    --mount-meadow: #18dcff;
    --white-smoke: #f0f0f0;
    --night-rider: #343434;
    --black: #191b17;
    --transition: all 0.5s ease-in-out;
    --green: #35ca61
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/server.jpg);
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    font-family: 'Lato';
}

.container{
    margin: auto auto;
    white-space: nowrap;
}

.contact-1{
    display: inline-block;
    width: 50%;
    height: 100%;
}

.contact-2{
    display: inline-block;
    width: 50%;
    height: 100%;

}

.contact {
    width: 100;
    height: 100;
}

.header {
    text-align: center;
    padding: 40px 0;
    margin: 0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.contact button{
    color: white;
    background-color: var(--green);
    padding: 5px 20px;
    margin-top: 15px;
    height: 50px;
    border-radius: 25px;
    border: none;
}

.contact input, textarea{
    margin-bottom: 10px;
    border: transparent;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    font-family: 'Lato';
}

.contact textarea {
    border: transparent;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    font-family: 'Lato';
    resize: none;
}

.form-control:focus{
    border-color: var(--green);
    
}

@media only screen and (max-width: 375px){
    .header{
        font-size: 40px;
    }
}








































/* Navbar */


.head-na{

    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

img{
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--black);
}
li{
    list-style-type: none;
}
button{
    cursor: pointer;
    outline: 0;
    background: transparent;
}
.contain{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
h1, h2, h3, h4, h5, h6{
    margin: 0.6rem 0;
    line-height: 1.25;
    font-weight: 400;
    text-transform: capitalize;
}
.text{
    margin: 0.6rem 0;
    opacity: 0.8;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    padding: 6.5rem 0;
}
.titlez{
    font-size: 70px;
    font-weight: 500;
}
.title{
    padding: 0.6rem 0;
    text-align: center;
}
.title h2{
    font-size: 2.2rem;
    color: var(--night-rider);
}
.title .text{
    font-weight: 500;
    font-size: 1.1rem;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(237, 237, 237);
    z-index: 999;
}
.brand-and-toggler{
    font-size: 1.65rem;
    padding: 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    font-weight: 500;
    color: var(--night-rider);
}
.navbar-brand span{
    color: var(--mount-meadow);
}
.navbar-toggler{
    border: none;
    color: var(--mount-meadow);
}
.navbar-nav{
    margin: 0.2rem 0 0.6rem 0;
}
.nav-item{
    padding: 0.6rem 0;
}
.nav-link{
    text-transform: uppercase;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    font-weight: 400;
    opacity: 0.65;
    transition: var(--transition);
}
.nav-link:hover{
    color: var(--mount-meadow)!important;
}
.navbar-collapse{
    display: none;
}
.hero-div{
    flex: 1;
    flex-direction: column;
    font-size: 2.55rem;
    text-align: center;
}
.hero-div h1{
    font-size: 2.55rem;
    padding-bottom: 0.4rem;
}
.hero-div p{
    color: var(--white-smoke);
    font-size: 1.05rem;
    letter-spacing: 3px;
}
.hero-btns{
    margin-top: 2.8rem;
}
.hero-btns button{
    border: 3.5px solid #fff;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
}
.btn-trans{
    color: #fff;
    transition: var(--transition);
    display: none;
}
.btn-trans:hover{
    background: var(--mount-meadow);
    border-color: var(--mount-meadow);
}
.btn-white{
    background: #fff;
    color: var(--night-rider);
    transition: var(--transition);
}
.btn-white:hover{
    background: transparent;
    color: #fff;
}

/* detail */
.detail{
    background: var(--white-smoke);
}
.detail-item{
    background: #fff;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    margin: 2rem 0;
    padding: 3.5rem 1.5rem;
    border-radius: 4px;
    transition: var(--transition);
}
.detail-item:hover{
    -webkit-box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    -moz-box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    transform: translateY(-5px);
}
.detail-item span{
    font-size: 2.5rem;
}
.detail-item h2{
    font-size: 1.4rem;
    opacity: 0.8;
    font-weight: 300;
}
.line{
    width: 45px;
    margin: 1.2rem auto;
    background: var(--mount-meadow);
    height: 2.5px;
}
/* feature */
.feature .title{
    text-align: left;
}
.feature-left img{
    width: 80%;
    margin: 0 auto;
}
.feature-right{
    margin-top: 4rem;
}
.feature-item{
    margin: 1.4rem 0;
    display: flex;
}
.feature-item div h3{
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.85;
}
.feature-item span{
    font-size: 1.1rem;
    color: #fff;
    background: var(--mount-meadow);
    align-self: flex-start;
    padding: 0.4rem 0.7rem;
    border-radius: 2px;
    margin-right: 1.4rem;
}

/* #### Media Queries #### */

@media screen and (min-width: 992px){
    .navbar{
        background: transparent;
        margin-top: 1.4rem;
    }
    .navbar .contain{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-brand{
        color: var(--white-smoke);
        font-size: 2rem;
    }
    .navbar-toggler{
        display: none;
    }
    .navbar-collapse{
        display: block!important;
    }
    .navbar-nav{
        display: flex;
        margin: 0;
    }
    .nav-item{
        margin-left: 1.8rem;
    }
    .nav-link{
        color: var(--white-smoke);
    }
    .hero-div h1{
        font-size: 3.8rem;
    }
    .btn-trans{
        display: inline-block;
        margin-right: 0.8rem;
    }

    /* navbar change */
    .cng-navbar{
        -webkit-box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        -moz-box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        margin-top: 0;
        background: #fff;
    }
    .cng-navbar .navbar-brand{
        color: var(--night-rider);
    }
    .cng-navbar .nav-link{
        color: var(--night-rider);
    }
    .feature .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 2rem;
    }
    .feature-right{
        margin-top: 0;
    }
    .video p{
        width: 60%;
    }
}