*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

/*background*/
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../assets/server.jpg);
    background-size: cover;
    background-position: center;
}

/* Navbar */
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo */
.logo{
    width: 200px;
    cursor: pointer;
}

/* Navbar dec */
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

/* Hover after */
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after{
    width: 100%
}

.container{
    width: 100;
    position: relative;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
}

.content h1{
    margin: 20px auto;
    font-size: 70px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
