@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

/*background*/
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../assets/server.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Navbar */
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo */
.logo{
    width: 200px;
    cursor: pointer;
}

/* Navbar dec */
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

/* Hover after */
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after{
    width: 100%
}

.container{
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    position: absolute;
}

.content{
    text-align: center;
}

.content h1{
    font-family: Lato;
    font-size: 5em;
    color: white;
}

.content p{
    font-family: Lato;
    font-size: 1.5em;
    color: white;
}

@media only screen and (max-width: 375px){
    .navbar{
        display: none;
    }

    .content h1{
        font-size: 3em;
    }
}
