@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
    --mount-meadow: #188fff;
    --white-smoke: #f0f0f0;
    --night-rider: #2c2c2c;
    --black: #191b17;
    --green: #35ca61;
    --transition: all 0.5s ease-in-out;
}

/* General shit */

*{
    font-family: 'Lato';
    padding: 0;
    margin: 0;
}

p,li,a,label{
    font-size: 20px;
    color: var(--night-rider);
}

.container h1,h2,h3,h4,h5,h6,p{
    color: var(--black);
}

.nav-item a{
    padding: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.9px;
    color: rgba(255,255,255,.55);
    transition: var(--transition);
}
.nav-item a:hover{
    color: lightskyblue!important;
}

.active a{
    color: rgba(255,255,255,.75);
}

.footer p{
    color: var(--white-smoke);
    font-size: 14px;
}

.footer-icons a{
    text-decoration: none;
}

.footer-icons svg{
    transition: 0.7s;
    fill: var(--white-smoke);
    margin: 0 15px;
}

.footer-icons svg:hover{
    transition: 0.7s;
    fill: var(--mount-meadow);
}

@media screen and (min-width: 769px){    
    .container-main{
        height: 100vh;
    }
}


/* index.html */



@media screen and (min-width: 769px){    
    .mobile-nav{
        display: none;
    }
    .mobile-home{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .desktop-nav{
        display: none;
    }
}

.conte{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .conte p {
    color: white;
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
  .conte p span.typed-text {
    font-weight: normal;
    color: lightskyblue;
  }  
  .conte p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .conte p span.cursor.typing {
      animation: none;
  }
  @keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

/* contact.html */

.contact-list .bi{
    margin-right: 10px;
}

.contact-form textarea{
    resize: none;
}

.form-control{
    margin-bottom: 10px;
}

.button-send{
    color: var(--white-smoke);
    background-color: var(--green);
    border: none;
    border-radius: 25px;
    padding: 5px 30px;
}

.contact-list{
    list-style: none;
    padding: 0;
}

.contact-list a{
    text-decoration: none;
}

.contact-list li{
    margin-bottom: 20px;
}
